.new-card{
    border: 5px solid #0d0f1e;
    border-radius: 15px;
}

.login-pagebg{
    background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
}
.btn-grad {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
.btn-grad {
   margin: 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .active {

    background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
    font-weight: bold;
 }


 .card-new-color1{

    border-top: 4px solid ;
    border-image:linear-gradient( 109.6deg,  rgba(255,174,0,1) 11.2%, rgba(255,0,0,1) 100.2% ) 10;
 }
 .shadow-3{
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
 }

.custom-widget-1{
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: #fff;
}
.custom-widget-2{
    background-image: linear-gradient( 135deg, #F761A1 10%, #8C1BAB 100%);
    color: #fff;
}

.custom-widget-3{
    background-image: linear-gradient( 135deg, #FDD819 10%, #E80505 100%);
    color: #fff ;
}

.custom-widget-4{
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    color: #fff ;
}

.admin-new-card{
    border: 5px solid #0d0f1e;
    border-radius: 15px;
}


.admin-btn-grad {background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%)}
.admin-btn-grad {
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.admin-btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.admin-login-pagebg{
   background-color: #fff;
}

.active-admin {
   background-color: #ffffff;
    color: #000000!important;
    font-weight: bold;
    border-radius: 10px!important;
}
.active-admin:hover {
    background-color: #000000!important;
    color: #ffffff!important;
    border: 2px solid #ffffff;
}

.active-admin-1 {
    background-color: #ffffff;
    color: #000000!important;
    font-weight: bold;
    border-radius: 10px!important;
}

.active-admin-1:hover {
    background-color: #000000!important;
    color: #ffffff!important;
}

.admin-sidebar-dark-primary{
    background-color: #000000;
}

.admin-widget-black{
    background-color: #000000;
    color: #ffffff;
}

.admin-cart-header{
    border-left: 3px solid #000000;
    border-top-left-radius: 0px;
}

.admin-black{
    background-color: #000000;
}

.admin-white{
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}
.admin-text-black{
    color: #000000;
    font-weight: bold;
}

.admin-text-white{
    color: #ffffff!important;
    font-weight: bold;
}
.admin-submit-btn-grad {background-image: linear-gradient(to right, #141E30 0%, #243B55  51%, #141E30  100%)}
.admin-submit-btn-grad {
    padding: 2px 6px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 6px;
    display: block;
    font-weight: bold;
}

.admin-submit-btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.admin-delete-rigt{
    /*border-right-radius: 8px;*/
    border-radius: 6px;
}

.admin-customer-card-bg-1{
    background-color: #1C2631;
    color: #ffffff;
}
.admin-customer-cardfooter-bg-1{
    /*background-color: #141C24;*/
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);

}

.admin-border-bottom-1{
    border-bottom: 2px solid #171f29;
}

.stripe-bg{
    background-color: #6B71E3;
    color: #FFFFFF;
}

.paypal-bg{
    background-color: #3b7bbf;
    color: #FFFFFF;
}
.razorpay-bg{
    background-color: #0D94FB;
    color: #FFFFFF;
}
